{% extends 'szablon.html' %}

{% block tresc %}
    <div class="w-100 bg-primary rounded p-4">
        <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Nasze</span>
            <span class="section-heading-lower">Pytania</span>
        </h2>
        <h3>{{ pytanie }}</h3>
        <ol>
        {% for o in pytanie.odpowiedz_set.all %}
        <li class="mb-1">
            <span class="lead">{{ o }}, głosów:</span> <span class="badge badge-secondary">{{ o.glosy }}&nbsp</span>
        </li>
        {% endfor %}
        </ol>
    </div>
{% endblock %}